#################
## Eclipse
#################
*.class
WebContent/WEB-INF/classes/
.metadata
.classpath
.settings
.project
target/
.DS_Store
bin
build
#################
## Utilização do Jboss Jorge
#################
forge
forge.bat